<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');

    #client-email {
      font-family: 'Open Sans', sans-serif;
      width: 794px;
      margin: 0 auto;
      padding: 5px;
      background-color:black;
      line-height: 2;
      font-weight: 300;
    }

    #email-head {
      background-color: black;
      display: flex;
      align-items: center;
      justify-content:space-between;
      padding: 0 30px 5px;
      height: 45px;
    }

    #client-email h2 {
      color: white;
      font-weight: 500;
    }

    #email-head img {
      width: 200px;
    }

    #email-text {
      background-color: white;
      padding-top: 20px;
    }

    #client-email h3 {
      text-transform: uppercase;
      color: #4656A4;
      font-weight: 500;
    }

    #client-email #info {
      color: white;
      background-color: #4656A4;
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
    }

    #client-email #info div p:first-of-type {
      font-size: 14pt;
      margin-top: 5px;
      margin-bottom: 0;
    }

    #client-email #info div p:last-of-type {
      font-size: 10pt;
      margin-top: 5px;
    }

    #client-email #info div:last-of-type {
      width: 45%;
    }

    #client-email #order-num {
      padding: 15px 30px 10px;
      font-size: 13pt;
    }

    </style>
</head>
<body>

<div id="client-email">
<div id="email-head"><h2>Movie Rental</h2></div>
  <div id="email-text">
<table id="order-num" border="0">
  <tbody>
  <tr>
     <td>
       <b>💌Here is a summary of your most recent rent transaction</b>
     </td>
  <tr>
     <td>
       <b>Movie:</b>
     </td>
     <td>
        <span class="wmi-callto"><b>Details</b></span>
    </td>
  </tr>
  {{#each movies}}
    <tr>
    <td></td>
     <td>
        <span class="wmi-callto">{{this.title}} - <span class="wmi-callto"><b>  ${{this.rentPrice}}</b></span></span>
      </td>
     </tr>
  {{/each}}
  <tr>
     <td>
       <b>Total:</b>
     </td>
     <td>
        <span class="wmi-callto">${{total}}</span>     </td>
  </tr>  
  <tr>
     <td>
       <b>Rent date:</b>
     </td>
     <td>
        <span class="wmi-callto">{{rentDate}}</span>     </td>
  </tr>  
  </tbody>
</table>
 </div>
</div>
</body>
</html>